<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link href="{% static 'adverity/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Star Wars Explorer</title>
</head>
<body>
<div class="container p-3">
    <h1 class="text-center p-3">Star Wars Explorer</h1>
    <table class='table text-nowrap'>
        <thead>
        <tr>
            {% for header in table_headers %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for rows in table_rows %}
            <tr>
                {% for row in rows %}
                    <td>{{ row }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script src="{% static 'adverity/bootstrap/bootstrap.min.css' %}"></script>
</div>
</body>
</html>