<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Star Wars Explorer</title>
    <style>
        #loader {
            border: 5px solid #d8d8d8;
            border-radius: 50%;
            border-top: 5px solid #444444;
            width: 10px;
            height: 10px;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>
<body>
<h1 style="text-align: center">Star Wars Explorer</h1>
<h2>Character collection
    <button id="fetch-characters">Fetch</button>
    <div id="loader" style="display: none"></div>
</h2>

<div id="table" style="padding-top: 20px">
    <table>
        <tbody>
        {% load static %}
        {% for row in db_rows %}
            <tr>
                <td>{{ row.2 }}
                    <button class="btn-inspect" data-arg="{{ row.0 }}">Inspect</button>
                    <button class="btn-download" data-arg="{% static row.1 %}">Download</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
    document.querySelectorAll('.btn-inspect').forEach(button => {
        button.addEventListener('click', event => {
            window.location.href = "/view/collection/" + button.getAttribute('data-arg')
        })
    })

</script>
<script>
    document.querySelectorAll('.btn-download').forEach(button => {
        button.addEventListener('click', event => {
            download_url = button.getAttribute('data-arg')
            console.log(download_url)
            window.location.href = download_url
        })
    })
</script>
<script>
    let button = document.getElementById('fetch-characters')
    let loader = document.getElementById('loader')
    button.addEventListener('click', event => {
        button.style.display = 'none'
        loader.style.display = 'block';
        let xhttp = new XMLHttpRequest();
        xhttp.open("GET", "/fetch/collection", true);
        xhttp.send();
        xhttp.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                location.reload()
            }
        };
    })
</script>
</body>
</html>